<div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <h1 class="my-4">Home
            <small></small>
          </h1>

          {{#each posts}}
            <div class="card mb-4">
            <img class="card-img-top" src="/uploads/{{file}}" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{title}}</h2>
              <p class="card-text">{{body}}</p>
              <a href="/post/{{slug}}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on {{generateTime date "MMMM Do YYYY"}} by
              <a href="#">{{user.firstName}} {{user.lastName}}</a>
            </div>
          </div>

          {{/each}}


          <!-- Blog Post -->
       

          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">

            {{#paginate current=current pages=pages}}

            {{/paginate}}
            {{!-- <li class="page-item">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">Newer &rarr;</a>
            </li> --}}
          </ul>

        </div>

        <!-- Sidebar Widgets Column -->
        {{> home/sidebar}}

      </div>
      <!-- /.row -->
